<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card-category">
        <%= @list.name %>
      </div>
      <div class="mt-4">
        <div>
          <%= @list.id %>
        </div>
      </div>
    </div>
  </div>
</div>
